/* LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Optional: Add a background color */
  }
  
  .google-signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }